input#wd-search-tuiter {
  background-color: rgb(65, 65, 65);
  color: white;
  width: 100%;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  margin-right: 12px;
}

input#wd-search-tuiter:focus {
  outline:none;
}

.link a {
  color: rgb(110, 118, 125);
  font-size: 15px;
  padding: 16px;
  text-decoration: none;
}

.link a:first-child {
  color: rgb(29,161,242);
  border-bottom: 3px solid rgb(29,161,242);
}

.suggested-post-subtitle {
  font-size: 13px;
  color: rgb(110, 118, 125);
}

.suggested-post-title {
  color: white;
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.suggested-posts a {
  text-decoration: none;
}

.suggested-posts a:first-child {
  margin-bottom: 20px;
}

.rounded-image {
  border-radius: 25px;
}
